.requests_list_item {
  border: 1px solid #f1f1f1;
  margin-bottom: 10px;
  position: relative;
  font-size: 19px;
  margin-left: 0;
  margin-right: 0;
}

.requests_list_item .status_bar {
  position: absolute;
  width: 10px;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .requests_list_item .status_bar {
    height: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .requests_list_item .status_bar {
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .requests_list_item .status_bar {
    height: 100%;
  }
}

.requests_list_item a {
  text-decoration: none;
}

.requests_list_item a:hover {
  text-decoration: underline;
}

.requests_list_item .branch {
  white-space: nowrap;
}

/*  */
.requests_list_item .passed {
  border-left: 10px solid #39aa56;
  background: #39aa56;
}

.requests_list_item .failed {
  border-left: 10px solid #db4545;
  background: #db4545;
}

.requests_list_item .errored {
  border-left: 10px solid #db4545;
  background: #db4545;
}

.requests_list_item .default {
  border-left: 10px solid #edde3f;
  background: #edde3f;
}

.requests_list_item .canceled {
  border-left: 10px solid #9d9d9d;
  background: #9d9d9d;
}
