body {
  /*overflow-y: scroll;*/
  margin: 0;
  padding: 0;
  /*font-family: 'Source Sans Pro', serif;*/
  font-family: 'Microsoft YaHei', 微软雅黑, 'PingFangSC-Regular', 'SF Pro SC',
    'HanHei SC', 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'PingFang SC',
    'Helvetica Neue', 'Helvetica', 'Arial', tahoma, sans-serif;
}

body {
  /*
   * 滚动条页面抖动
   * bootstrap 模态窗口抖动
   * @see https://blog.csdn.net/zh_rey/article/details/77531224
   * @see https://blog.csdn.net/sinat_23668639/article/details/49489793
   */
  padding-left: calc(100vw - 100%);
}

header {
  margin-left: -20px;
}

.navbar-brand {
  margin-left: 10px;
}

#navbarDropdownMenuLink {
  color: #fff;
}

#navbarDropdownMenuLink:hover {
  color: #dcdddd;
}

@media screen and (min-width: 990px) {
  header .userHeader {
    margin-left: auto;
  }

  header .login {
    margin-left: auto;
  }

  header .mr-auto {
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  #navbarSupportedContent {
    margin-left: 19px;
  }

  .navbar-brand {
    margin-left: 20px;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
